* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  background-color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* This takes care of separation between artists */
.artist-name:not(:first-child, :last-child)::before {
  color: #a0a0a0;
  content: ", ";
}

.artist-name:last-child::before {
  content: " & ";
  color: #a0a0a0;
}

.artist-name:only-child::before {content: "";}
/* */

main {
  margin: 0 auto;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  margin: 15px 12px 0 12px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.each-album {
  margin: 10px;
  align-items: center; 
}

.album-cover {
  width: 100%;
}

.album-name {
  width: 80%;
  font-size: 14px;
  color: #ffffff;
}

.artist-name {
  margin-top: 20px;
  font-size: 14px;
  color: #a0a0a0;
}

a {
  text-decoration: none;
  font-family: 'Helvetica';
}

/* RESPONSIVE DESIGN FOR TABLET */
@media (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* RESPONSIVE DESIGN FOR DESKTOP */
@media (min-width: 1024px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}